/* Fonts */
@font-face {
  font-family: "Commissioner";
  font-weight: 400;
  src: url(./fonts/Commissioner-Regular.ttf);
}

@font-face {
  font-family: "Commissioner";
  font-weight: 800;
  src: url(./fonts/Commissioner-ExtraBold.ttf);
}

/* Variables */
:root {
  --clr-primary: 0 93% 64%;
  --clr-primary-light: 0 100% 79%;
  --clr-neutral-900: 0 0% 0%;
  --clr-neutral-800: 240 14% 11%;
  --clr-neutral-600: 240 12% 30%;
  --clr-neutral-100: 0 0% 100%;
}

html {
  scroll-behavior: smooth;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General */
body {
  font-family: "Commissioner";
  font-size: 0.9375rem;
  color: hsl( var(--clr-neutral-900) );
  line-height: 1.66;
  counter-reset: list-title-counter;
}

a {
  color: hsl( var(--clr-neutral-100) );
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.color-primary {
  color: hsl( var(--clr-primary) );
}

.hide {
  display: none;
}

/* Buttons */
.btn {
  display: inline-block;
  background-color: hsl( var(--clr-neutral-800) );
  color: hsl( var(--clr-neutral-100) );
  font-size: 1rem;
  font-weight: 800;
  padding: 1em 2.1em;
  transition: background-color 0.1s;
}

.btn:hover {
  background-color: hsl( var(--clr-neutral-600) );
}

.btn-primary:hover {
  background-color: hsl( var(--clr-primary-light) );
}

.btn-primary {
  background-color: hsl( var(--clr-primary) );
}

#hero .btn {
  padding: 1.17em 2.3em;
}

/* Navigation buttons */
.menu-btn {
  background-color: hsl( var(--clr-neutral-100) );
  border: none;
  padding: 0.35em;
  cursor: pointer;
}

.main-nav .btn,
footer .btn {
  padding: 1.15em 2.9em;
}

/* Arrows */
.grid__arrow-btn {
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.grid__btn-prev {
  margin-right: 1em;
}

.grid__arrow-btn:hover .grid__arrow {
  fill: hsl( var(--clr-neutral-800) );
  stroke: hsl( var(--clr-primary-light) );
  color: hsl( var(--clr-primary-light) );
}

.grid__arrow {
  fill: hsl( var(--clr-neutral-800) );
  stroke: hsl( var(--clr-primary) );
  color: hsl( var(--clr-primary) );
  transition-property: fill, stroke, color;
  transition-duration: 0.1s;
}

/* Typography */
.hero__title {
  font-size: 2.5rem;
  line-height: 1;
}

.grid__title,
.footer__title {
  font-size: 2rem;
  line-height: 1.25;
}

.nav-link,
#hero .btn {
  font-size: 1.125rem;
}

.grid__link {
  color:hsl( var(--clr-primary) );
  font-weight: 800;
}

.grid__slider-image-title {
  font-size: 0.9375rem;
}

/* Header & navigation */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.75em 1.75em;
}

.main-nav {
  position: absolute;
  top: 100%;
  right: 1.75em;
  width: max-content;
  padding: 1.625em;
  background-color: hsl( var(--clr-neutral-800) );
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 0.35s ease-out;
}

.close-nav {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.nav-item {
  text-align: center;
}

.nav-link {
  display: block;
  width: 100%;
  padding-block: 0.65em;
}

/* Hero layout */
#hero {
  display: flex;
  flex-direction: column;
}

.hero__image {
  order: -1;
}

.hero__content {
  margin-block: 3.75em 6.4em;
  padding-inline: 1.6em;
}

.hero__title {
  margin-bottom: 0.4em;
}

.hero__body {
  margin-bottom: 2.65em;
}

/* Grid layout */
#grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "design-image"
    "design"
    "approach"
    "approach-content"
    "slider-image"
    "slider";
  overflow-x: hidden;
}

.grid__design {
  grid-area: design;
  color: hsl( var(--clr-neutral-100) );
  background-color: hsl( var(--clr-neutral-800) );
  padding: 4.8em 1.6em;
}

.grid__title {
  margin-bottom: 0.75em;
}

.grid__body {
  margin-bottom: 2.65em;
}

.grid__link {
  padding-bottom: 9px;
  border-bottom: 2px solid hsl( var(--clr-primary) );
}

.grid__design-image-container {
  grid-area: design-image;
}

.grid__approach,
.grid__approach-content {
  color: hsl( var(--clr-neutral-100) );
  background-color: hsl( var(--clr-primary) );
}

.grid__approach {
  grid-area: approach;
  padding: 6.4em 1.6em 3.25em;
}

.grid__approach-content {
  grid-area: approach-content;
  padding: 0 1.6em 6.4em;
}

.grid__approach-list-item {
  position: relative;
}

.grid__approach-list-item:not(.grid__approach-list-item:last-of-type) {
  margin-bottom: 5.6em;
}

.grid__approach-list-title {
  margin-bottom: 1em;
}

.grid__approach-list-title::before {
  counter-increment: list-title-counter;
  content: "0" counter(list-title-counter);
  position: absolute;
  top: -0.5em;
  left: -0.2em;
  font-size: 5rem;
  line-height: 1.1;
  opacity: 0.25;
}

.grid__slider {
  grid-area: slider;
  color: hsl( var(--clr-neutral-100) );
  background-color: hsl( var(--clr-neutral-800) );
  padding: 4.25em 1.6em;
}

.grid__slide-titles {
  display: flex;
  width: 300vw;
  transition: transform 1s;
}

.grid__slide-title {
  width: 100vw;
}

.grid__slide {
  position: relative;
}

.grid__slider-image-container {
  display: flex;
  width: 300vw;
  grid-area: slider-image;
  position: relative;
  transition: transform 1s;
}

.grid__slider-image {
  position: relative;
  width: 100vw;
  height: 404px;
  object-fit: cover;
}

.grid__slider-image-info {
  position: absolute;
  width: 100%;
  inset: auto 0 0 0;
  padding: 2.35em 2.15em;
  text-align: right;
  color:hsl( var(--clr-neutral-100) );
  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.75));
}

/* Footer layout */
.footer__content {
  padding: 6.25em 1.5em;
}

.footer__title {
  margin-bottom: 1.47em;
}

/* Media queries */
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}